// WordGrid.scss

.word-grid {
  // display: grid;
  // grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 15px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  background-color: rgb(30, 14, 14);
  overflow-y: auto;
}

.word-grid-choice {
  // display: grid;
  // grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: rgb(255,255,255);
background: -moz-linear-gradient(90deg, rgba(255,255,255,0.756827731092437) 0%, rgba(228,16,16,1) 37%, rgba(228,16,16,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(255,255,255,0.756827731092437) 0%, rgba(228,16,16,1) 37%, rgba(228,16,16,1) 100%);
background: linear-gradient(90deg, rgba(255,255,255,0.756827731092437) 0%, rgba(228,16,16,1) 37%, rgba(228,16,16,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#e41010",GradientType=1);
}
